<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-buttons> <ion-back-button></ion-back-button> </ion-buttons>
      <ion-title>Produtos</ion-title>
    </ion-item>
  
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item *ngFor="let arrayprod of arrayprod" >
  <ion-label>
     • {{arrayprod.nome}}
  </ion-label>
  <ion-label>| {{arrayprod.quan}}</ion-label>
  <ion-button (click)="ExcluirContato(arrayprod.id.value)"><ion-icon name="trash-outline"></ion-icon></ion-button>
</ion-item>
</ion-content>
