<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="" [fullscreen]="true">

  <ion-title>ProdutosCRUD</ion-title>

  <div class="cima ">
    <ion-button routerLink="/formprod">Novo</ion-button>
    <ion-button routerLink="/lista-produtos">Entrada</ion-button>
  </div>
  <div class="baixo">
    <ion-button >Saida</ion-button>
    <ion-button routerLink="/saida">Produtos</ion-button>
  </div>

</ion-content>
